
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <div class="image-horario">
        <img  src="../../assets/home.png"/>
      </div>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
   <ion-tab-button tab="tab3">
    <div class="image-horario">
    <img  src="../../assets/agenda.png"/>
  </div>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="relogio">
      <div class="image-horario">
      <img  src="../../assets/clock.png"/>
    </div>
      <ion-label>Horário</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab1">
      <div class="image-horario">
        <img  src="../../assets/log-in.png"/>
      </div>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
